.CastList{
    height: 240px;
    width: 740px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px 10px;

    display: flex;
    column-gap: 20px;
    align-items: flex-start;
}
.CastListDark {
    color:#afafaf;
 }

.CastListLight{
    color:yellow;
}
